/* Shared (Content Box, Flex Center, Center Text) */

/* Content Box */
.content-box {
    border: 1px solid rgba(0, 0, 0, 0.15);
    padding: 5px;
    border-radius: 12px;
    background-color: #fff;
    margin: 40px auto;
    max-width: 70%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Flex Center */
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 150px;
    height: auto;
    transition: all 0.3s ease;
}

/* Center Text Container */
.center-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 150px;
    text-align: center;
}

/* Hidden class for toggling visibility */
.hidden {
    display: none;
}

.hamburger-menu:not(.hidden) {
    display: block;
}

/* Hamburger Icon */
#hamburgerIcon {
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bar {
    width: 100%;
    height: 4px;
    background-color: #333;
}

/* Hamburger Menu - initially hidden */
.hamburger-menu.hidden {
    display: none;
}

/* Hamburger Menu when shown */
.hamburger-menu {
    display: block;
    background-color: #333;
    position: absolute;
    top: 60px;
    right: 0;
    width: 200px;
    text-align: right;
    padding: 10px;
}

.hamburger-menu ul {
    list-style: none;
    padding: 0;
}

.hamburger-menu ul li {
    margin: 10px 0;
}

.hamburger-menu ul li a {
    color: white;
    text-decoration: none;
}
